*{ box-sizing: border-box;

}


img{
    border-radius:90px;
    width: 100px;
    height: 100px;
  }


  .container{


    position:relative;
    padding: auto;
    margin:auto;
    display: grid;
    flex-direction:row;
    grid-template-columns: 1fr 2fr;
  
    
  }

.left_side{
position:relative ;
background-color: rgb(156, 112, 151);
padding: 50px;
margin: -40px;
display:grid;
flex-direction: column;

}


.right_side{

position: relative;
background-color: rgb(228, 223, 232);
padding:40px ;
display: flex;
margin: -40px;
flex-direction: column;
}
